.post {
  width: 100%;

  display: flex;
}

.user-info {
  width: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.75rem;

  /* border: 1px solid #1c5650; */
}

.user-info img {
  width: 4rem;
}

.user-text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.user-text-info h3 {
  font-size: 0.8rem;
}

.user-text-info p {
  font-size: 0.6rem;
}

.post-text-info {
  width: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;

  /* border: 1px solid #1c5650; */
}

.post-text-info h2 {
  padding: 0.75rem;
  padding-bottom: 0rem;
}

.post-text-info p {
  padding: 0.75rem;
}

.likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40px;

  padding: 0.75rem;

  /* border: 1px solid #1c5650; */
}

.upvote {
  font-size: 1.5rem;
  width: fit-content;
  user-select: none;
}

.upvote:hover {
  cursor: pointer;
  color: var(--highlight);
}

.add-comment {
  text-align: center;
  padding: 0.75rem;
  border: 1px solid var(--accent);
  cursor: pointer;
}

.add-comment:hover {
  color: var(--highlight);
  border: 1px solid var(--highlight);
}

.comment {
  display: flex;
  flex-direction: row-reverse;
}

.post-preview {
  border: 1px solid var(--accent);
  border-bottom: none;
}

.post-preview:hover {
  cursor: pointer;
  border: 2px solid var(--highlight);
}

.add-comment-form {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.add-comment-form p {
  color: var(--custom-red);
}

.add-comment-form textarea {
  resize: none;
  border: 1px solid var(--accent);
  border-top: none;
  padding: 0.5rem;

  background-color: var(--accent);
  color: var(--accent-light);

  font: inherit;
}

.add-comment-form textarea::placeholder {
  color: var(--accent-light);
}

.delete-button {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--custom-red);
}

.edit-post {
  font-size: 1.5rem;
  cursor: pointer;
  /* color: var(--highlight); */
}

.post-text-info input {
  box-sizing: border-box;

  width: 100%;

  border: 1px solid var(--accent);
  border-top: none;
  padding: 0.5rem;

  background-color: var(--accent);
  color: var(--accent-light);

  font: inherit;
}

.post-text-info textarea {
  box-sizing: border-box;

  resize: none;
  width: 100%;
  border: 1px solid var(--accent);
  border-top: none;
  padding: 0.5rem;

  background-color: var(--accent);
  color: var(--accent-light);

  font: inherit;

  margin-bottom: 0.5rem;
}
