:root {
  --background: #5bffdb;
  --accent: #1c5650;
  --accent-light: #4cc9ba;
  --highlight: #e1fff6;
  --custom-red: #c54141;
}

#welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  height: 80vh;

  gap: 1rem;
}

.fade-in {
  opacity: 0;
  /* transform: translateY(-10px); */
  animation: fadeIn 1s ease-in-out 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  font: inherit;
  padding: 0.25rem 0.5rem;

  background-color: var(--background);
  color: var(--accent);
}
