@font-face {
  font-family: "Pokemon";
  src: url(./assets/pokemon.ttf);
}

@font-face {
  font-family: "Joystix";
  src: url(./assets/joystix/joystix.otf);
}

html {
  background: #5bffdb;
  font-family: "Pokemon", sans-serif;
  color: #1c5650;

  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  /* background-color: #f5f5f5; */
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
